#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=Cosmic Commander
Exec=cosmos-commander %F
Terminal=false
Type=Application
StartupNotify=true
Icon=eu.fangornsrealm.CosmosCommander
Categories=COSMIC;Utility;Files
Keywords=Folder;Manager;
MimeType=inode/directory;
