#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=Commander
Exec=commander %F
Terminal=false
Type=Application
StartupNotify=true
Icon=eu.fangornsrealm.Commander
Categories=COSMIC EXT;Utility;Files
Keywords=Folder;Manager;Dualpanel
MimeType=inode/directory;
