Source: cosmos-commander
Section: admin
Priority: optional
Maintainer: Alexander Schwarzkopf <progs@fangornsrealm.eu>
Build-Depends:
    clang,
    debhelper-compat (=13),
    just (>= 1.13.0),
    pkg-config,
    rust-all,
Standards-Version: 4.6.2
Homepage: https://github.com/fangornsrealm/cosmos-commander

Package: cosmos-commander
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: Dual-pane file manager for COSMIC desktop
